$deepgreen: #21332d;
$gold: #d9ab5d;
$tag: #fef7c0;
$grommet: #c45d32;

$red: #d92a21;
$dkred: #A11607;
$green:#00A14B;
$dkgreen:#006e33;

@import './reset';

*{
	box-sizing:border-box;
}
html{
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
	background-color: $red;
	margin: 0;
}



@import './home';

@import './login';
@import './fire';